<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Projects</h2>
        <hr class="small">

        <div class="portfolio-item">
          <a class="portfolio-link" href="https://notifier.website">Notifier - A spam free mail system</a>
        </div>
        <div class="portfolio-item">
          <a class="portfolio-link" href="http://savory.esy.es">
            Savory - Know todays menu
          </a>
        </div>
        <div class="portfolio-item">
          <a class="portfolio-link" href="https://kalambist-33e41.firebaseapp.com">
            Kalambist.tk - Share updates about Kalambist Village
          </a>
        </div>
        <div class="portfolio-item">
          <a class="portfolio-link" href="/notifier-landing/">
            Notifier - Landing page
          </a>
        </div>
        <div class="portfolio-item">
          <a class="portfolio-link" href="/calculator/">
            Calculator App
          </a>
        </div>
        <div class="portfolio-item">
          <a class="portfolio-link" href="/bootstrap-img-gallery/">
            Image gallery using Bootstrap
          </a>
        </div>
        <!--<a href="#" class="btn btn-dark">View More Items</a>-->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
