<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Projects</h2>
        <hr class="small">
        <div class="portfolio-item">
          <a target="_blank" class="portfolio-link" href="https://newsboard-302f0.web.app/">Newsboard - Basic React App (ReactJS, NewsAPI, Axios)</a>
        </div>
        <!-- <div class="portfolio-item">
          <a target="_blank" class="portfolio-link" href="https://notifier.website">Notifier - A spam free mail system (jQuery, mdl-lite, firebase-storage, OneSignal API)</a>
        </div> -->
        <div class="portfolio-item">
          <a target="_blank" class="portfolio-link" href="https://todaysmenu-a50ee.web.app/">
            TodaysMenu - Under Development (firebase-database, materializecss, Google Sign In)
          </a>
        </div>
        <div class="portfolio-item">
          <a target="_blank" class="portfolio-link" href="https://akshaynaik404.github.io/notifier-landing/">
            Notifier - Landing page (HTML, CSS, Web Design)
          </a>
        </div>
        <div class="portfolio-item">
          <a target="_blank" class="portfolio-link" href="https://akshaynaik404.github.io/calculator/">
            Calculator App (JavaScript, CSS)
          </a>
        </div>
        <div class="portfolio-item">
          <a target="_blank" class="portfolio-link" href="https://akshaynaik404.github.io/bootstrap-img-gallery/">
            Image gallery using Bootstrap (Bootstrap)
          </a>
        </div>
        <!--<a target="_blank" href="#" class="btn btn-dark">View More Items</a>-->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
